@tailwind base;
@tailwind components;
@tailwind utilities;

.page-padding {
  @apply px-24 py-24;
}
::-webkit-scrollbar {
  width: 3px;
  height: 100%; /* Width of the scrollbar */
}
::-webkit-scrollbar-corner {
  display: none;
  margin: 0;
  padding: 0;
  height: 0;
}
::-webkit-scrollbar-thumb {
  background-color: #5bba0c; /* Color of the thumb */
  border-radius: 6px;
  border: 2px solid transparent; /* Radius of the thumb */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Color of the track */
}
.skeleton-loader {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.skeleton-item {
  height: 2rem;
  background: #a0a0a0;
  animation: skeleton-loading 0.7s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    @apply bg-dark-300;
  }
  100% {
    @apply bg-dark-100;
  }
}
